/* for test */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    padding: 100px;
}

#example{
    width: 800px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
    text-align: center;
}
/* for test */

.levus-tooltip{
    position: relative;
    color: #5564eb;
    font-size: 60px;
}

.levus-tooltip .content{
    display: block;
    position: absolute;
    left: calc(50% - 100px);
    width: 200px;
    padding: 10px;
    background: #fff;
    box-shadow: 0 0 10px rgb(236, 236, 236);
    font-size: 14px;

    opacity: 0;
    transition: 1s;
    animation: show 4s;
    transform-origin: 0 0;
}

@keyframes show {
    0%{
        opacity: 0;
        transform: rotateX(90deg);
    }    
    100%{
        transform: rotateX(0);
        opacity: 1;
    }
}
